ol {
    background-color: yellow;
}

.ímpar {
    color: green;
}

.par {
    text-transform: uppercase;
}

.header {
    color: red;
}

h1.header {
    font-size: 40px;
    border: 1px solid black;

}